{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera página</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Hola Alumnos</h1>
    <table>
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Género</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.rut }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido_paterno }}</td>
                <td>{{ alumno.apellido_materno }}</td>
                <td>{{ alumno.id_genero.genero }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
